<header class="header">
    <a routerLink="/" class="logo">
      <img src="" alt="Yemek23 Logo">
    </a>
    <nav class="navbar">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Anasayfa</a>
      <a routerLink="/restaurant" routerLinkActive="active">Restoranlar</a>
      <a routerLink="/favorite" routerLinkActive="active">Favori Restoranlarım</a>
      <a routerLink="/signin" routerLinkActive="active">Giriş Yap</a>
      <a routerLink="/register" routerLinkActive="active">Kaydol</a>
      <a routerLink="/balance" routerLinkActive="active" class="balance-link">
        <i class="fas fa-wallet"></i>
        {{currentBalance}} ₺
      </a>
    </nav>
    <div class="buttons">
      <button id="search-btn" (click)="onSearch()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </header>
  
  <router-outlet></router-outlet>