<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YEMEK23</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Anasayfa section start -->
    <section class="anasayfa">
        <div class="content">
            <h3>YEMEK23'E HOŞGELDİNİZ!</h3>
            <p>
                Elazığda bulunan restaurantları incelemek, onların karşılaştırmalarını görmek ve yemek sipariş etmek istiyorsanız doğru yerdesiniz.
            </p>
            <a href="./restaurant" class="btn">Şimdi Başlayın</a>
        </div>
    </section>
    <!-- Anasayfa section end -->

    <script src="js/script.js"></script>
</body>
</html>
