<h1>Kayıt Ol</h1>
<form (ngSubmit)="onRegister()">
  <input
    type="text"
    [(ngModel)]="name"
    name="name"
    placeholder="Ad Soyad"
    class="txt"
    required
  />
  <input
    type="email"
    [(ngModel)]="email"
    name="email"
    placeholder="Email"
    class="txt"
  />
  <input
    type="password"
    [(ngModel)]="password"
    name="password"
    placeholder="Şifre"
    class="txt"
    required
  />
  <button type="submit" class="signup-btn">Hesap Oluştur</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</form>
